<li>
	{{name}}

	<button class="change-hung" data-id="{{id}}" data-newHung="{{hung}}">
		{{#if hung}}EAT TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
